<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - AdvancedSearch.Web</title>*@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/AdvancedSearch.Web.styles.css" asp-append-version="true" />*@
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/mylayout.css" rel="stylesheet" />
    <link href="~/css/modals.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AdvancedSearch.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PersonalData" asp-action="Index">Datas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex flex-nowrap">
        @*flex incele*@
        <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
        <a href="/personaldata/advancedsearch" class="nav-link link-dark" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Advanced Search
        </a>
        </li>
        <li>
        <a href="/personaldata/save" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Add New Customer
        </a>
        </li>
        <li>
        <a href="/personaldata/allpersonal" class="nav-link link-dark">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Customers
        </a>
        </li>
        </ul>
        <hr>
        <button class="sidebarBtn">
                <span></span>
            </button>
        </div>
        <div class="b-example-divider b-example-vr"></div>

       @* <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Destek</a></li>
                <li><a href="#">İletişim</a></li>
            </ul>
            <button class="sidebarBtn">
                <span></span>
            </button>
        </div>*@

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AdvancedSearch.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidebarBtn').click(function () {
                $('.sidebar').toggleClass('active');
                $('.sidebarBtn').toggleClass('toggle');
            })
            $('.sidebarBtn').click();
        })
    </script>
</body>
</html>
